{% extends "base.html" %}

{% block title %}GoodReads{% endblock %}

{% block content %}

<main class="container text-center">

    <div class="mt-5">

        <h1 class="display-1 fw-bold">
            GoodGames
        </h1>

        <p class="lead fst-italic">
            your video games in one place
        </p>
    </div>

    <form action="{{ url_for('search') }}" method="GET" class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="input-group">

                <select name="type" class="form-select" style="max-width: 150px;">
                    <option value="">All</option>
                    <option value="name">Name</option>
                    <option value="genre">Genre</option>
                    <option value="studio">Studio</option>

                    {% if current_user.is_authenticated %}
                        <option value="user">User</option>
                    {% endif %}
                </select>

                <input type="text" name="q" class="form-control" placeholder="Search games, genres and more..." required>

                <button type="submit" class="btn btn-primary">
                    Search
                </button>
            </div>
        </div>
    </form>
</main>
{% endblock %}
